
@import url('https://fonts.googleapis.com/css2? family= Big+Shoulders+Inline+Text:wght@100 & family= Poppins:ital,wght@0,100;0,200;0,300;0,400; 0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

:root {
    --color-primario: red;
    --color-secundario: green;
    --color-terciario: blue;
    --color-btn: violet;
    --color-hover: yellow;
    --color-footer: grey;
    --color-texto: black;
}

*{
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #D9D9D9
}

.banner-text {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: azure;
    }
/*
.titulo-ppal{
    font-size: 6em;
    }
.slogan{
    font-size:3em;
    }
.boton-prod {
    font-size: 1.5em;
    }*/
.card-img {
    background-attachment: fixed;
    background-size: cover;
    max-height: 35em;
    object-fit: cover;
    /*background-image: linear-gradient(
    to bottom, url ("../img/banner.jpg"),
    rgba(75, 75, 73, 0.5),
    rgba(168, 173, 173, 0.5)),*/
}
.header{
    width: 100%;
    min-height: 100vh;
}
/*html {
    scroll-padding: 80px;
    scroll-behavior: smooth;
}*/

.container-banner {
    align-items: center;
    justify-content: center;
}


.container-filosofia {
background-color: #D9D9D9;

}

.container-experiencias {
 background-color: #ACACAC;
}

.container-cards{
background-color: white;
}

.container-galeria {
background-color: #D9D9D9;
}

.container-testimonios {
background-color: #D9D9D9;
}

.container-secciones {
background-color:#D9D9D9 ;
}

.container-secciones0 {
    background-color: #BDBCBC;
 }


.container-secciones1 {
background-color: #D9D9D9;
}

.container-secciones2 {
    background-color: #CECECE;
}

.container-secciones3 {
    background-color: #ACACAC;
}

.sizeredes {
    width: 50%;
    height: 80%;
    
}

/* Por debajo de 700px */ 
@media screen and (max-width: 700px){
    .titulo-ppal{
    font-size:  4em;
    }
    .slogan{
    font-size:  2em;
    }
    .boton-prod {
        font-size: 1em;
    }
    
    .sizeredes {
    width: 40%;
    height: 70%;
    }
    
    }


/* Por debajo de 400px */
@media screen and (max-width: 400px){
    .titulo-ppal{
        font-size:1.5em;
    }
    .slogan{
        font-size:1em;
    }
    .boton-prod {
        font-size: 1em;
    }
    .sizeredes {
        width: 30%;
        height: 60%;
        }
    }
