
@import url('https://fonts.googleapis.com/css2? family= Big+Shoulders+Inline+Text:wght@100 & family= Poppins:ital,wght@0,100;0,200;0,300;0,400; 0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

:root {
    --color-bordo: #8C382E;
    --color-verdeoscuro: #667362;
    --color-verdeclaro: #BDBD55;
    --color-grisclaro: #6D707D;
    --color-beige: #DDC6B3;
    --color-footer: #2E2F34;
    --color-negro: black;
    --color-blanco: white;
    --color-gris-1: #D9D9D9;
    --color-gris-2: #ACACAC;
    --color-gris-3: #BDBCBC;
    --color-gris-4: #CECECE;
}

*{
    font-family: 'poppins', sans-serif;
}

body {
    background-color: var(--color-gris-1)
}

.img-logo {
    width: 1.5em;
    height: 1em;
    padding-top: 5px;
}

.carrito{
    text-decoration: none;
    
}
/*BANNER */
.banner-text {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: var(--color-blanco);
    }

.card-img {
    background-attachment: fixed;
    background-size: cover;
    max-height: 35em;
    object-fit: cover;
}
.header{
    width: 100%;
    min-height: 100vh;
}

.container-banner {
    align-items: center;
    justify-content: center;
}

/* ESTILOS DE CONTAINER */

.container-filosofia .container-galeria .container-testimonios .container-secciones .container-secciones1 {
background-color: #D9D9D9;

}

.container-experiencias .container-secciones3 {
background-color: #ACACAC;
}

.container-experiencias img {
    border-radius: 3% 3% 0 0;
}

.container-cards{
background-color: white;
}

.container-secciones0 {
    background-color: #BDBCBC;
}

.container-secciones2 {
    background-color: #CECECE;
}

.sizeredes {
    width: 50%;
    height: 90%;
}


/*CARRITO Y PRODUCTOS*/
.img-fluid {
    width: 100%;
    margin-bottom: 50px;
}

.carrito {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.card-img {
    background-attachment: fixed;
    background-size: cover;
    max-height: 35em;
    object-fit: cover;
}

.banner-text {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: var(--color-beige);
}

h1 {
    color: var(--color-blanco);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}



#boton-carrito {
    border: none;
    color: var(--color-verdeoscuro);
    font-size: 20px;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: var(--color-verdeclaro);
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    background-color: white
    /*margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

p {
    line-height: 1.8;
}

.producto {
    max-width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*text-align: center;*/
    
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: var(--color-verdeoscuro);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;

}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: var(--color-blanco);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: var(--color-verdeoscuro);
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: var(--color-verdeoscuro);
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid var(--color-verdeclaro);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid var(--color-verdeoscuro);
}

.boton-eliminar {
    background-color: white;
    color: var(--color-bordo);
    border: none;
    font-size: 15px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.container-buscador {
    padding: 2em;
    margin: 0 auto;

}
/*
.h1 {
    background-color: white;
    color: var(--color-bordo) ;
    margin: 0px;
}*/



/* Por debajo de 700px 
@media screen and (max-width: 700px){
    .titulo-ppal{
    font-size:  4em;
    }
    .slogan{
    font-size:  2em;
    }
    .boton-prod {
        font-size: 1em;
    }

    .sizeredes {
    width: 40%;
    height: 80%;
    }
    
    }


Por debajo de 400px
@media screen and (max-width: 400px){
    .titulo-ppal{
        font-size:1.5em;
    }
    .slogan{
        font-size:1em;
    }
    .boton-prod {
        font-size: 1em;
    }
    .sizeredes {
        width: 30%;
        height: 70%;
        }
    }
    */