@import url('https://fonts.googleapis.com/css2? family= Big+Shoulders+Inline+Text:wght@100 & family= Poppins:ital,wght@0,100;0,200;0,300;0,400; 0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bordo: #8C382E;
    --color-verdeoscuro: #667362;
    --color-verdeclaro: #BDBD55;
    --color-grisclaro: #6D707D;
    --color-beige: #DDC6B3;
    --color-footer: #2E2F34;
    --color-negro: black;
    --color-blanco: white;
}
body {
    font-family: 'poppins', sans-serif;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.card-img {
    background-attachment: fixed;
    background-size: cover;
    max-height: 35em;
    object-fit: cover;
}

.banner-text {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    color: var(--color-beige);
}

h1 {
    color: var(--color-blanco);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

#boton-carrito {
    border: none;
    color: var(--color-verdeclaro);
    font-size: 20px;
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: var(--color-verdeclaro);
}

#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.precioProducto {
    font-weight: 700;
}

.boton-agregar {
    background-color: var(--color-verdeoscuro);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: var(--color-blanco);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: var(--color-verdeoscuro);
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: var(--color-verdeoscuro);
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid var(--color-verdeclaro);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid var(--color-verdeoscuro);
}

.boton-eliminar {
    background-color: white;
    color: var(--color-bordo);
    border: none;
    font-size: 15px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.container-buscador {
    padding: 2em;
    margin: 0 auto;

}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

input[type="search"] {
    border: none;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    line-height: normal;
    max-height: 3em;
    flex: 2 0 250px;
}

input[type="search"]:focus {
    background: Thistle;
    color: black;
    letter-spacing: .1em;
    outline: none;
}

button {
    flex: 1 0 90px;
    max-height: 3em;
    font-size: 1.1em;
    letter-spacing: .2em;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
    background: silver;
    color: white;
    border: none;
    padding: 0.35em 0.75em;
    cursor: pointer;

}

button:hover {
    background: rgb(17, 17, 18);
}